body {

    background-image: url("https://images.pexels.com/photos/247314/pexels-photo-247314.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jmb {

    height: 108px;
}

p {
    color: #361500;
    font-family: 'Pacifico',
        cursive;
}


html {


    height: 100%;
}