body {

    background-image: url("https://images.pexels.com/photos/725255/pexels-photo-725255.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jmb {

    background-color: #1B2430;
    color: white;
    text-align: center;

}


html {


    height: 100%;
}